.blocks-holder {
    background-color: #d9e5f1;
    height: 450px;
    width: auto;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 2px solid #000000;
    padding: 8px;
    overflow: auto;
}

.block {
    background-color: #efbf73;
    width: 200px;
    /* height: 188px; */
    overflow: hidden;
    border-radius: 10%;
    -webkit-box-shadow: inset 0px 0px 30px -10px #000000bf;
    -moz-box-shadow: inset 0px 0px 30px -10px #000000bf;
    box-shadow: inset 0px 0px 30px -10px #000000bf;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 20px;
}


